html, body {height:100%;}

#wrap {

}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    margin-bottom: 100px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    @include screen-lg { //스크린 1200px 이상일 때
        max-width: 992px;
    }
    @include screen-md { //스크린 992px 이상일 때
        max-width: 100%;
    }
    @include screen-sm { //스크린 768px 이상일 때
        max-width: 100%;
    }
    @include screen-xs { //스크린 768px 이상일 때
        max-width: 100%;
    }
}

.section {
    padding: 100px 0 80px;
}
