html, body {height:100%;}

#wrap {

}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    margin-bottom: 100px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 100px 0 80px;
}
